# Onboard 25 MHz oscillator
LOCATE COMP "clk" SITE "P3";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;

# Onboard Green LED D2 (active-low)
LOCATE COMP "led" SITE "L2";
IOBUF PORT "led" IO_TYPE=LVCMOS33;

# UART TX -- same site colorlight_i5.py's "serial" resource uses for tx,
# so this drives the exact same physical pin/DAPLink UART channel LiteX does.
LOCATE COMP "tx" SITE "J17";
IOBUF PORT "tx" IO_TYPE=LVCMOS33;
